*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zilla Slab", serif;
}
body{
    background-image: url('./bg.png');
    /* height: 100vh; */
    background-position: cover;
    background-attachment: fixed;
}
.blog-container{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.heading{
    text-align: center;
    font-size: 40px;
    color: rgb(196, 128, 46);
    margin: 1em;
}

.blogs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog{
    width: 700px;
    background-color: rgb(46, 42, 42);
    padding: 20px 20px;
    border-radius: 10px;
}
.blog span{
    font-size: 25px;
    color: rgb(197, 184, 160);
}
.blog p{
    font-size: 18px;
    margin-top: 15px;
    color: rgb(74, 102, 128);
}
.blog .title{
    /* margin-left: 25px; */
    font-weight: 600;
    color: rgb(59, 98, 134)
}
.blog .Snd-ans{
    margin-top: 0;
}


@media only screen and (max-width: 700px){
    .blogs{
        align-items: center;
    }
    .blog{
        width: 90%;
    }
}